$color: #fff;
$family: Montserrat;
$center: center;
$pad: 10%;
$navheight: 10%;
$navwidth: 100%;
$navcolor: #151515;


body {
	background-color: #000;
	margin-top: 2%;
	margin-bottom: 1%;
}

h2 {
	color: $color;
	font-family: $family;
}


/*ul {
	list-style-type: $list-style;
}*/

%navbar {
	font-size: 18px;
	font-family: $family;
	font-weight: bold;
	color: $color;
}

p, #navbar {
	@extend %navbar;
}

h2{
	text-align: $center;
}

#top {
	display: flex;
	text-align: justify;
	padding-left: 15%;
	padding-right: 15%;
	@extend %navbar;
}

footer {
	text-align: $center;

		p {

	}
}

#navbar {
	position: fixed;
	height: 90%;
	width: 12%;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $navcolor;
	overflow-x: hidden;
	div {
		padding-top: $pad;
		padding-left: 2%; 
		display: flex;
		align-items: center;
		justify-content: center;
		width: $navwidth;
		height: $navheight;
		border: 1px solid;
		border-color: $navcolor;
			}
	i {
	padding-right: 4%;
		}
}

.nav-link:hover {
	background-color: #7e7e7e;
	cursor: pointer;
}