<!DOCTYPE html>
<html>
<head>
	<title>Folrunge Portfolio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">
</head>
<body>
	{% if headline %}
	<H2>{{ headline }}</H2>
	{% endif %}
<ul>
	{% for name in names %}
	<li>{{ name }}</li>
	{% endfor %}
</ul>

<form>
	<input type="text" name="Name" placeholder="Your Full Name">
	<button>Submitt</button>
</form>
</body>
	
	<footer>
		<a href="#"></a>
		<a href="#"></a>
		<a href="#"></a>
	<p>Created by</p>
	<footer>

</html>