$color: #fff;
$list-style: none;
$family: Montserrat;

body {
	background-color: #000;
	margin-top: 2%;
	margin-bottom: 1%;
}

h2 {
	color: $color;
	font-family: $family;
}

ul {
	list-style-type: $list-style;
}

%navbar {
	font-size: 18px;
	font-family: $family;
	font-weight: bold;
	color: $color;
}

p {
	@extend %navbar;
}